@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    @apply transition-colors duration-75
} */

body {
    font-family: 'Poppins', sans-serif;
}


/* style react-slick slider arrows */
.slick-prev:before,
.slick-next:before {
    color: rgb(150, 145, 145) !important;
}
.star{
    color:#c53030;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}